@using la_mia_pizzeria_static.Classes
@model Pizza

<div class="my-5 mx-auto">
    <p>ID: @Model.Id</p>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>Price: $@Model.Price</p>
    <img width="200" src="@Model.Photo" />
</div>

<a href="">Torna indietro va</a>
